@import url("css/theme.css");

.toggle .header {
    display: block;
    clear: both;
    padding-top: -10px;
    padding-bottom: 20px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* Custom colors */

.wy-side-nav-search, .wy-nav-top { /* above navigation, behind logo */
    background: #e1cbbd; 
}

.icon.icon-home { /* link above logo */
    color: #705543;
}

.version { /* version spec under logo */
    color: #705543 !important;
}

.highlight { /* code blocks */
    background: #e5feff;
} 

.admonition-title { /* notes, title */
    background: #436f70 !important; 
}

.admonition { /* notes */
    background: #e5feff !important;
}

.rst-content dl:not(.docutils) dt { /* class definitions */
    background: #f4ede9;
    color: black;
    border-top: solid 3px #705543;
}

.rst-content dl:not(.docutils) dl dt{ /* functions */
    border-left:solid 3px #705543;
    background: #f4ede9;
    color: black;
}